<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= pageTitle %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Michroma&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
          <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbar1"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Albums
                </a>
                <div
                  style="background-color: transparent"
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdown"
                >
                  <% albumInfo.forEach((albumObj)=>{ %>
                  <a
                    class="dropdown-item"
                    href="/album/<%= albumObj.shortTitle %>"
                    ><%= albumObj.albumName%></a
                  >
                  <% })%>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feedback">Feedback</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="video position-relative">
        <div style="text-align: center;"
          class="embed-responsive embed-responsive-16by9 position-absolute positionTop z1"
        >
          
          <iframe width="400px" src="https://www.youtube.com/embed/pFptt7Cargc?autoplay=1&loop=1"; frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; loop" allowfullscreen></iframe>

        </div>
      </div>
    <div class="row p-4">
        <div class="col-4">
            <h3>Feedback</h3>
            <h5>Please leave your feedback below.</h5>
    <form class="feedback-form">
      <div class="form-group">
        <label for="feedback-form-name">Name</label>
        <input
          type="text"
          class="form-control"
          id="feedback-form-name"
          placeholder="Enter your name"
        />
      </div>

      <div class="form-group">
        <label for="feedback-form-title">Title</label>
        <input
          type="text"
          class="form-control"
          id="feedback-form-title"
          placeholder="Title of your feedback"
        />
      </div>

      <div class="form-group">
        <label for="feedback-form-message">Message</label>
        <textarea
          type="text"
          placeholder="Enter your message, then hit the submit"
          class="form-control"
          id="feedback-form-message"
          rows="6"
        ></textarea>
    </div>
      
      <button type="submit" class="btn btn-default pull-right">Submit</button>
    </div>
    <div class="col-4">
        <h3>Recent Feedback</h3>
        <div id="feedback-results"></div>
    </div>
    </div>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/js/feedback.js"></script>
  </body>
</html>
